/build/
C++Builder_Berlin/Win32
C++Builder_Berlin/Lib
twfiles.@@@
*.cbproj.local
*.dsk
*.res
*.twfd
*.twopts
*.stat
MSVC_32/Release
MSVC_32/Debug
MSVC_32/Lib
MSVC_32/.vs
*.pdb
*.vcxproj.filters
*.vcxproj.user